.photo-list-box {
  padding: 0.13rem 0.24rem 0.13rem 0.21rem;
  display: flex;
  justify-content: space-between;
}
.photo-list-img {
  height: 1.01rem;
  width: 1.3rem;
}

.photo-list-box-1 {
  width: 1.8rem;
  margin-left: 0.20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-list-title {
  margin-top: 0.09rem;
  font-size: 0.18rem;
  font-weight: bold;
  color: rgba(16, 16, 16, 100);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;

}
.photo-list-box-2 {
  width: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-list-author, .photo-list-date {
  color: rgba(16, 16, 16, 100);
  font-size: 0.14rem;
  text-align: left;
  font-family: PingFangSC-regular;
}
.digest-list-box {
  width: 3.22rem;
  padding: 0.21rem 0.28rem 0.13rem 0.25rem;
}
.digest-list-title {
  color: rgba(80, 120, 255, 100);
  font-size: 0.16rem;
  text-align: left;
  font-family: PingFangSC-regular;
}
.digest-list-digest {
  width: 3.22rem;
  height: 0.7rem;
  margin-top: 0.11rem;
  font-size: 0.14rem;
  line-height: 0.22rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.brief-list-box {
  width: 3.22rem;
  padding: 0.13rem 0.28rem 0.13rem 0.25rem;
}
.brief-list-title {
  color: rgba(80, 120, 255, 100);
  font-size: 0.16rem;
  text-align: left;
  font-family: PingFangSC-regular;
}
