.browse-date {
  padding-top: 0.13rem;
  text-align: center;
  font-size: 0.14rem;

}
.photo-list-box {
  padding: 0.13rem 0.24rem 0.13rem 0.21rem;
  display: flex;
  justify-content: space-between;
}
.photo-list-img {
  height: 1.01rem;
  width: 1.3rem;
}

.photo-list-box-1 {
  width: 1.8rem;
  margin-left: 0.20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-list-title {
  margin-top: 0.09rem;
  font-size: 0.18rem;
  font-weight: bold;
  color: rgba(16, 16, 16, 100);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;

}
.photo-list-box-2 {
  width: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.photo-list-author, .photo-list-date {
  color: rgba(16, 16, 16, 100);
  font-size: 0.14rem;
  text-align: left;
  font-family: PingFangSC-regular;
}
.digest-list-box {
  width: 3.22rem;
  padding: 0.21rem 0.28rem 0.13rem 0.25rem;
}
.digest-list-title {
  color: rgba(80, 120, 255, 100);
  font-size: 0.16rem;
  text-align: left;
  font-family: PingFangSC-regular;
}
.digest-list-digest {
  width: 3.22rem;
  height: 0.7rem;
  margin-top: 0.11rem;
  font-size: 0.14rem;
  line-height: 0.22rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}
.brief-list-box {
  width: 3.22rem;
  padding: 0.13rem 0.28rem 0.13rem 0.25rem;
}
.brief-list-title {
  color: rgba(80, 120, 255, 100);
  font-size: 0.16rem;
  text-align: left;
  font-family: PingFangSC-regular;
}

//filter
.Filter-body {
  width: 100%;
  height: 100%;
  font-size: 0.14rem;
  line-height: 0.26rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.Input-Area {
  margin: 0.84rem 0.4rem 0 0.58rem;
}
.Deadline, .TitleSearch, .Type{
  width: 100%;
  margin-bottom: 0.28rem;
  display: flex;
  justify-content: space-between;
}
.Deadline-DatePicker, .TitleSearch-TextareaItem {
  width: 1.96rem;
  height: 0.26rem;
  border: solid 0.01rem #bbbbbb;
  line-height: 0.26rem;
  text-align: center;
  overflow: hidden;
}
.Type-Lab {
  width: 0.7rem;
  overflow-wrap: break-word;
  // text-align: center;
}
.Type-Button-Box-1 {
  width: 1.96rem;
  display: flex;
  justify-content: space-between;
  // text-align: center;
}
.Type-Button {
  width: 0.93rem;
  height: 0.26rem;
  margin-bottom: 0.1rem;
  border: solid 0.01rem #bbbbbb;
  text-align: center;
  font-size: 0.14rem;
  line-height: 0.26rem;
}
.Submit {
  height: 0.49rem;
}
.Submit-Button {
  width: 50%;
  height: 0.49rem;
  border: solid 0.01rem #bbbbbb;
  text-align: center;
}


.am-list-extra {
  display: initial !important;
  overflow: initial !important;
  text-align: center !important;
  /* width: 100%; */
  padding-left: 0.55rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.am-textarea-control {
  height: 0.5rem;
  padding: 0;
}
.am-textarea-item {
  padding-left: 0;
}
.am-list-line {
  height: 0.26rem;
}

.am-list-iten {
  padding-left: 0;
}

.am-modal-transparent {
  width: 100%;
  height: 100%;
}
.am-modal-content {
  height: 100%;
  border-radius: 0 !important;
  padding-top: 0 !important;
  text-align: left;
}
.am-modal-body {
  padding: 0 !important;
}